* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "oufit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 100px -30px hsl(220, 15%, 55%);
}

h1 {
  font-size: 1.16em;
  font-weight: 800;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin: 0 15px 0 15px;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 0.87em;
  font-weight: bold;
  text-align: center;
  margin: 0 15px 0 15px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 625px) {
  body {
    gap: 5px;
  }
  .container {
    margin: 20px 20px 0 20px;
    gap: 20px;
  }
}
